.root {
	-fx-background-color: #F8FAFC
}

#menu-lateral{
	-fx-background-color: #1f2937;
	
}

.menu-botao {
    -fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-alignment: CENTER_LEFT;
}

.menu-botao:hover {
	-fx-background-color:#374151;
}

#logo {
	-fx-text-fill: white;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

#titulo {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: #111827;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
}

.card-valor {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #111827;
}

.card-titulo {
    -fx-font-size: 14px;
    -fx-text-fill: #6b7280;
}

